<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="head :: head"></div>
<body> 
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h2>Sistema Crypto Project</h2>
	
	<hr>
      
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>