<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h3>Gerenciar criptoMoedas</h3>      
            <div th:switch="${criptoMoeda.id>0}">
      	<p th:case="${true}">Atualização</p>
      	<p th:case="*">Cadastro criptoMoeda</p>
      </div>
      
       <form th:object="${criptoMoeda}" action="/criptoMoedas/save" method="POST">
		<input type="hidden" th:field="${criptoMoeda.id}" th:if="${criptoMoeda.id}">
		
        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label> 
         <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome" th:errorclass="inputError" autocomplete="off">
         <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">campo invalido</span>
        </div>
        
        <label class="form-label" for="codigo">Codigo</label> 
        <div class="mb-3 flex">
         <input type="text" th:field="*{codigo}" class="form-control width-60" placeholder="Ex: BTC" th:errorclass="inputError" autocomplete="off">
         <span class="error" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}">campo invalido</span>       
	         <div th:switch="${criptoMoeda.id > 0}" class="buttonapi">
		         <a  th:case="${true}" class="btn btn-secondary margin-left" role="button" 
		         th:href="@{/criptoMoedas/coingecko/{id}(id=${criptoMoeda.id})}">Pesquisar por Código</a>
	        <!-- <button th:case="${true}" type="search" class="btn btn-secondary" 
	         	th:formaction="@{/criptoMoedas/coingecko/{id}(id=${criptoMoeda.id})}">Pesquisar por Codigo </button> -->
	        </div>
        </div>
      	<div th:switch="${criptoMoeda.coingecko?.id != null}">
	      	<div th:case="${true}">
		        <div  class="content-coin">
		        <div th:text="'Coin name = ' + ${criptoMoeda.coingecko?.asset_platform_id}?:'unknow' "></div>
		        <div th:text="'Name = '+ ${criptoMoeda.coingecko?.name}?:'unknow' "></div>
		        <div th:text="'Coin ID = ' + ${criptoMoeda.coingecko?.id}?:'unknow' "></div>
		        <!-- <div th:text="'Price(USD) = $' + ${criptoMoeda.priceString}?:'unknow' "></div> -->
		         <div th:text="'Price(USD) 3 = $' + ${criptoMoeda.price?.usd}?:'unknow' "></div>
		        <div th:text="'Total_Volume = ' +${criptoMoeda.coingecko?.market_data?.total_volume?.usd}?:'unknow' "></div>  
		 		<div th:text="'High_24h(USD) = $' +${criptoMoeda.coingecko?.market_data?.high_24h?.usd}?:'unknow' "></div> 
		 		<div th:text="'Low_24h(USD) = $' +${criptoMoeda.coingecko?.market_data?.low_24h?.usd}?:'unknow' "></div> 
		 		<div th:text="'price_change_24h = ' +${criptoMoeda.coingecko?.market_data?.price_change_24h}?:'unknow' "></div> 
				<div th:text="'price_change_percentage_24h = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_24h}?:'unknow' "></div>        
		        <div th:text="'price_change_percentage_7d = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_7d}?:'unknow' "></div>  
		        <div th:text="'price_change_percentage_14d = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_14d}?:'unknow' "></div>
		        <div th:text="'price_change_percentage_30d = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_30d}?:'unknow' "></div>
		        <div th:text="'price_change_percentage_60d = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_60d}?:'unknow' "></div>
		        <div th:text="'price_change_percentage_200d = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_200d}?:'unknow' "></div>
				<div th:text="'price_change_percentage_1y = ' +${criptoMoeda.coingecko?.market_data?.price_change_percentage_1y}?:'unknow' "></div>
				<div th:text="'market_cap_change_24h = ' +${criptoMoeda.coingecko?.market_data?.market_cap_change_24h}?:'unknow' "></div>
				<div th:text="'market_cap_change_24h = ' +${criptoMoeda.coingecko?.market_data?.market_cap_change_percentage_24h}?:'unknow' "></div>
		    </div>
      	</div>
		 
        <div class="mb-3">
          <label class="form-label" for="url_projeto">Link projeto</label> 
         <input type="text" th:field="*{url_projeto}" class="form-control" placeholder="Ex:www.bitcoin.com" th:errorclass="inputError" autocomplete="off">
         <span class="error" th:if="${#fields.hasErrors('url_projeto')}" th:errors="*{url_projeto}">campo invalido</span>
        </div>
 
        <div class="mb-3">
          <p th:switch="${criptoMoeda.id>0}">
            <button type="submit" th:case="${true}" class="btn btn-danger" th:text="Atualizar"></button>
            <button type="submit" th:case="*" class="btn btn-primary" th:text="criar"></button>
          </p>
        </div>
        

      </form>
      
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>